
.background Div{
display: flex;
justify-content: center;
}
#btn1{
    width: 100%;
    max-width: 500px;
    height: 50px;
    transition: all 0.6s ease;
}
#btn1:hover{
    background: #ffffff;
    transform: scale(1.5);
}
.background{
    height: 100vh;
}
